<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
 
<!-- 60초 파일 변경 확인 및 재시작 -->
<configuration scan="true" scanPeriod="60 seconds">

	<property name="FILE_NAME" value="../../logs/vueboard.log" />
	<property name="CONSOLE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight([%-3level]) %logger{5} - %msg %n" />
	<property name="ROLLING_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS}  %logger{5} - %msg %n" />
	<property name="LOG_NAME_PATTERN" value="../../logs/vueboard-%d{yyyy-MM-dd-HH-mm}.%i.log" />
	<property name="MAX_FILE_SIZE" value="100MB" />
	<property name="TOTAL_SIZE" value="300MB" />3
	<property name="MAX_HISTORY" value="10" />

	<!-- STDOUT(콘솔 로그 출력) -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="ROLLING_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${ROLLING_PATTERN}</pattern>
		</encoder>
		<file>${FILE_NAME}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_NAME_PATTERN}</fileNamePattern>
<!--			<maxHistory>${MAX_HISTORY}</maxHistory>-->
			<maxFileSize>10MB</maxFileSize>
			<totalSizeCap>100MB</totalSizeCap>
<!--			<maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
			<totalSizeCap>${TOTAL_SIZE}</totalSizeCap>-->
		</rollingPolicy>
	</appender>




	<!-- STDOUT(콘솔 로그 출력) -->
<!--	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>
		</encoder>
	</appender>-->
 
	<!-- jdbc sql 관련 log level 설정 -->
	<logger name="jdbc" level="OFF"/>
	<logger name="jdbc.sqlonly" level="OFF"/>
	<logger name="jdbc.sqltiming" level="INFO"/>
	<logger name="jdbc.audit" level="OFF"/>
	<logger name="jdbc.resultset" level="OFF"/>
	<logger name="jdbc.resultsettable" level="INFO"/>
	<logger name="jdbc.connection" level="OFF"/>
	
	<!-- root level : 기본적으로 설정할 log level -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLING_LOG_FILE"/>
	</root>
 
</configuration>